/* View Transition API - This rule enables smooth transitions between different documents */
@view-transition {navigation: auto;}

/* Root CSS Variables */

:root {

    /* Font Sizes (Linear Scaling 1440p -> 720p) */
    --size-xs: clamp(0.75rem, 0.6vw, 0.938rem);
    --size-sm: clamp(0.833rem, 0.8vw, 1.063rem);
    --size-med: clamp(1rem, 1vw, 1.25rem);
    --size-lg: clamp(1.125rem, 1.4vw, 1.625rem);
    --size-xl: clamp(1.25rem, 1.8vw, 2.25rem);
    --size-2xl: clamp(1.75rem, 2.5vw, 3rem);
    --size-3xl: clamp(2.25rem, 3.5vw, 4rem);
    --size-4xl: clamp(2.75rem, 4.8vw, 5.25rem);
    --size-5xl: clamp(3.25rem, 6.2vw, 6.75rem);

    /* Colors */
    --color-primary-lighter: #5ab6f5;
    --color-primary-light: #247dba;
    --color-primary: #0a5081;
    --color-primary-dark: #073455;
    --color-primary-darker: #041f32;
    --color-secondary-lighter: #dafafc;
    --color-secondary-light: #9fdced;
    --color-secondary: #6bbede;
    --color-secondary-dark: #4692b3;
    --color-secondary-darker: #296986;
    --color-accent-lighter: #ffc64d;
    --color-accent-light: #ff8c17;
    --color-accent: #ff5c00;
    --color-accent-dark: #d43d00;
    --color-accent-darker: #a32300;
    --color-foreground-lighter: #fefefe;
    --color-foreground-light: #fafafa;
    --color-background: #f7f7f5;
    --color-background-dark: #ccccca;
    --color-background-darker: #ccccca;
    --color-foreground-lighter: #f8f8f9;
    --color-foreground-light: #cbd0d2;
    --color-foreground: #a0a8ad;
    --color-foreground-dark: #747d82;
    --color-foreground-darker: #4e5559;
    --color-green: #19d400;
    --color-red: #d40000;
    --color-gray: #828282;
 
}

.color-primary {color: var(--color-primary);}
.color-secondary {color: var(--color-secondary);}
.color-accent {color: var(--color-accent);}
.color-background {color: var(--color-background);}
.color-foreground {color: var(--color-foreground);}
.color-green {color: var(--color-green);}
.color-red {color: var(--color-red);}

/* Reset Styles */

*, *::before, *::after {box-sizing: border-box;}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    hanging-punctuation: first last;
scroll-padding-top: calc(70px + 2rem);
    scroll-behavior: smooth;
    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 769px) {
    html {
        scroll-padding-top: calc(50px + 1rem);
    }
}


body {
    font-size: var(--size-med);
    background-color: var(--color-primary);
    color: var(--color-foreground);
    font-family: var(--font-quicksand);

}

@media (prefers-reduced-motion: reduce) {
    body {scroll-behavior: auto;}
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-family: var(--font-raleway);
    font-weight: 900;
    line-height: 1em;
    margin-bottom: 2rem;
}

h1 {
    font-size: var(--size-4xl);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1em;
}

hgroup>h1+p {
    font-size: var(--size-2xl);
    font-weight: 700;
    color: var(--color-foreground);
}

h2 {
    font-size: var(--size-3xl);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: var(--color-primary);
}

h3 {
    font-family: var(--font-roboto-condensed);
    font-size: var(--size-2xl);
    font-weight: 900;
    text-transform: uppercase;
}

h4 {
    font-size: var(--size-2xl);
    font-weight: 700;
}

h5 {
    font-size: var(--size-xl);
    font-weight: 700;
    text-transform: uppercase;
}

h6 {
    font-family: var(--font-roboto-condensed);
    font-size: var(--size-lg);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

img, picture, video, canvas, svg, lite-youtube {
    display: block;
    max-width: 100%;
}

a:focus {outline: none;}

p, blockquote, figcaption {
    text-wrap: pretty;
    margin-bottom: 1.5rem;
    line-height: 1.5em;
}

p a, blockquote a, figcaption a {
    color: var(--color-accent);
    text-decoration: none;
}

p a:hover:not(.button), blockquote a:hover:not(.button), figcaption a:hover:not(.button) {
    color: var(--color-accent-light);
    text-decoration: underline;
}

strong {
    font-weight: 900;
    color: var(--color-secondary-dark);
}

figure > figcaption {
    text-align: center;
    font-size: var(--size-sm);
    margin-top: 0.5rem;
}

/* Helper Classes */

.nobreak, .nowrap {white-space: nowrap;}

.indent {text-indent: 1.5rem;}

.small {font-size: var(--size-sm);}

.bold, .strong {font-weight: 700;}

.hidden, input[name="question-field"] {
    position: absolute;
    top: -10000px;
    left: -10000px;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
    z-index: -1;
}

/* Button Styles */

.button {
    position: relative;
    display: inline-block;
    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    padding: 0.5rem 1.25rem;
    font-family: var(--font-roboto-condensed);
    font-size: var(--size-2xl);
    font-weight: 900;
    letter-spacing: -1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    background: var(--color-accent);
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right: none;
}

@media (max-width: 769px) {
    .button {
        display: block;
        font-size: clamp(1rem, 6vw, 1.75rem);
        width: 100%;
        margin: 0 auto;
    }
}

.button.alt {
    background: var(--color-primary);
}

.button.wave span, button.wave span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding: 0.5rem 1.25rem;
    animation: wave 4s ease-in-out infinite;
}

.button:hover span, button:hover span {
    color: var(--color-secondary-light);
}

@keyframes wave {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


#hero .button {
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: var(--color-primary-light);
    text-shadow: 0 0 3px var(--color-primary-lighter);
}

.buttons {
    display: flex;
    gap: clamp(1rem, 1.38vw, 2rem);
}

/* Style Effects */

.fire {
    color: transparent;
    background-image: linear-gradient(to bottom,
        var(--color-accent-lighter),
        var(--color-accent));
    background-clip: text;
    filter: drop-shadow(1px 1px 4px red);
}

.electric {
    color: transparent;
    background-image: linear-gradient(to bottom,
        var(--color-secondary-lightest),
        var(--color-secondary-light));
    background-clip: text;
    filter: drop-shadow(0 0 2px var(--color-secondary)) drop-shadow(0 0 1px var(--color-secondary-light));
}

/* Fancy Border - Animated Conic Gradient Border */
@property --border-angle-1 {syntax: "<angle>"; inherits: true; initial-value: 0deg;}
@property --border-angle-2 {syntax: "<angle>"; inherits: true; initial-value: 90deg;}
@property --border-angle-3 {syntax: "<angle>"; inherits: true; initial-value: 180deg;}
.fancy-border {
    --border-angle-1: 0deg;
    --border-angle-2: 90deg;
    --border-angle-3: 180deg;
    color: inherit;
    border: 0;
    padding: 1px;
    border-radius: 15px;
    background-color: var(--color-primary);
    background-image:
        conic-gradient(from var(--border-angle-1) at 10% 15%,
            transparent,
            var(--color-secondary) 10%,
            transparent 30%,
            transparent),
        conic-gradient(from var(--border-angle-2) at 70% 60%,
            transparent,
            var(--color-primary) 10%,
            transparent 60%,
            transparent),
        conic-gradient(from var(--border-angle-3) at 50% 20%,
            transparent,
            var(--color-accent) 10%,
            transparent 50%,
            transparent);
    animation:
        rotateBackground 3s linear infinite,
        rotateBackground2 8s linear infinite,
        rotateBackground3 13s linear infinite;
}
.fancy-border > * {
    border-radius: calc(15px - 1px);
}
@keyframes rotateBackground {
    to {--border-angle-1: 360deg;}
}
@keyframes rotateBackground2 {
    to {--border-angle-2: -270deg;}
}
@keyframes rotateBackground3 {
    to {--border-angle-3: 540deg;}
}

/* Global Animations */
@keyframes pulse {
    0% {transform: scale(1); opacity: 1;}
    50% {transform: scale(1.5); opacity: 0.5;}
    100% {transform: scale(1);opacity: 1;}
}

/* Scripted Effects */

/* Fuzzy Lazy loading Effect for Images, Uses a blurred background image that transitions to the clear image when loaded */
.fuzzy-load { 
    width: fit-content;
    height: fit-content;
    position: relative;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: background-image 250ms ease-in-out;
    /* Blur the background image without affecting child content */
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: inherit;
        background-image: var(--background);
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(12px);
        transform: scale(1.05);
        z-index: 0;
        opacity: 1;
        transition: opacity 350ms ease-in-out;
    }
    & > * {
        position: relative;
        z-index: 1;
    }
}
.fuzzy-load > * {
    opacity: 0;
    transition: opacity 350ms ease-in-out;
}

.fuzzy-load.loaded::before {
    opacity: 0;
}

.fuzzy-load.loaded > * {
    opacity: 1;
}

/* Password Requirement Indicators */
.req-characters, .req-uppercase, .req-number, .req-special { 
    transition: color 0.3s ease, font-weight 0.3s ease;
}
.req-characters.active, .req-uppercase.active, .req-number.active, .req-special.active {
    color: var(--color-green);
    font-weight: var(--weight-semibold);
}

#content-logo {
    width: auto;
    height: 200px;
}