/* View Transition API - This rule enables smooth transitions between different documents */
@view-transition {navigation: auto;}

/* Root CSS Variables */

:root {

    /* Font Sizes (Linear Scaling 1440p -> 720p) */
    --size-xs: clamp(0.75rem, 0.6vw, 0.938rem);
    --size-sm: clamp(0.833rem, 0.8vw, 1.063rem);
    --size-med: clamp(1rem, 1vw, 1.25rem);
    --size-lg: clamp(1.125rem, 1.4vw, 1.625rem);
    --size-xl: clamp(1.25rem, 1.8vw, 2.25rem);
    --size-2xl: clamp(1.75rem, 2.5vw, 3rem);
    --size-3xl: clamp(2.25rem, 3.5vw, 4rem);
    --size-4xl: clamp(2.75rem, 4.8vw, 5.25rem);
    --size-5xl: clamp(3.25rem, 6.2vw, 6.75rem);

    /* Colors */
    --color-primary-lighter: #5ab6f5;
    --color-primary-light: #247dba;
    --color-primary: #0a5081;
    --color-primary-dark: #073455;
    --color-primary-darker: #041f32;
    --color-secondary-lighter: #dafafc;
    --color-secondary-light: #9fdced;
    --color-secondary: #6cbede;
    --color-secondary-dark: #4692b3;
    --color-secondary-darker: #296986;
    --color-accent-lighter: #ffc64d;
    --color-accent-light: #ff8c17;
    --color-accent: #ff5c00;
    --color-accent-dark: #d43d00;
    --color-accent-darker: #a32300;
    --color-foreground-lighter: #fefefe;
    --color-foreground-light: #fafafa;
    --color-background: #f7f7f5;
    --color-background-dark: #ccccca;
    --color-background-darker: #ccccca;
    --color-foreground-lighter: #f8f8f9;
    --color-foreground-light: #cbd0d2;
    --color-foreground: #a0a8ad;
    --color-foreground-dark: #747d82;
    --color-foreground-darker: #4e5559;
    --color-green: #19d400;
    --color-red: #d40000;
    --color-gray: #828282;
 
}

.color-primary {color: var(--color-primary);}
.color-secondary {color: var(--color-secondary);}
.color-accent {color: var(--color-accent);}
.color-background {color: var(--color-background);}
.color-foreground {color: var(--color-foreground);}
.color-green {color: var(--color-green);}
.color-red {color: var(--color-red);}

/* Reset Styles */

*, *::before, *::after {box-sizing: border-box;}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    hanging-punctuation: first last;
scroll-padding-top: calc(70px + 2rem);
    scroll-behavior: smooth;
    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 769px) {
    html {
        scroll-padding-top: calc(50px + 1rem);
    }
}


body {
    font-size: var(--size-med);
    /* font-size: 16px; */
    background-color: var(--color-primary);
    color: var(--color-foreground);
    font-family: var(--font-quicksand);

}

@media (prefers-reduced-motion: reduce) {
    body {scroll-behavior: auto;}
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-family: var(--font-raleway);
    font-weight: 900;
    line-height: 1em;
    margin-bottom: 2rem;
}

h1 {
    font-size: var(--size-4xl);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1em;
}

hgroup>h1+p {
    font-size: var(--size-2xl);
    font-weight: 700;
    color: var(--color-foreground);
}

h2 {
    font-size: var(--size-3xl);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: var(--color-primary);
}

h3 {
    font-family: var(--font-roboto-condensed);
    font-size: var(--size-2xl);
    font-weight: 900;
    text-transform: uppercase;
}

h4 {
    font-size: var(--size-2xl);
    font-weight: 700;
}

h5 {
    font-size: var(--size-xl);
    font-weight: 700;
    text-transform: uppercase;
}

h6 {
    font-family: var(--font-roboto-condensed);
    font-size: var(--size-lg);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

img, picture, video, canvas, svg, lite-youtube {
    display: block;
    max-width: 100%;
}

a:focus {outline: none;}

p, blockquote, figcaption {
    text-wrap: pretty;
    margin-bottom: 1.5rem;
    line-height: 1.5em;
}

p a, blockquote a, figcaption a {
    color: var(--color-accent);
    text-decoration: none;
}

p a:hover:not(.button), blockquote a:hover:not(.button), figcaption a:hover:not(.button) {
    color: var(--color-accent-light);
    text-decoration: underline;
}

strong {
    font-weight: 900;
    color: var(--color-secondary-dark);
}

figure > figcaption {
    text-align: center;
    font-size: var(--size-sm);
    margin-top: 0.5rem;
}

small {
    font-size: var(--size-sm);
}

/* Helper Styles */

.nobreak, .nowrap {white-space: nowrap;}

.indent {text-indent: 1.5rem;}

.small {font-size: var(--size-sm);}

.bold, .strong {font-weight: 700;}

.hidden, input[name="question-field"] {
    position: absolute;
    top: -10000px;
    left: -10000px;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
    z-index: -1;
}

/* Form Styles */

#question-field {
    position: absolute;
    top: -10000px;
    left: -10000px;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
    z-index: -1;
}

/* Core Input Layouts */
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1rem;
    align-items: start;
    width: 100%;
}
@media (max-width: 769px) {
    .form-row {
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
        row-gap: 0;
    }
}

.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

/* Text Inputs, Selects, and Textareas */
.input-group input:not([type="radio"]):not([type="checkbox"]),
.input-group textarea,
.input-group select {
    width: 100%;
    padding: 1em;
    border: none;
    border: 1px solid var(--color-primary-light);
    color: var(--color-text);
    font-size: var(--size-med);
    transition: all 0.2s ease;
    border-radius: 5px;
    background-color: white;
    font-family: inherit;
}

.input-group input:not([type="radio"]):not([type="checkbox"]):focus,
.input-group select:focus {
    border-color: var(--color-accent);
}
    
.input-group.textarea-group textarea {
    resize: vertical;
    min-height: 50px;
    border: solid 1px var(--color-primary-light);
    border-radius: 5px 5px 0 5px;
    background-color: white;
}

.input-group.textarea-group textarea:focus {
    border-color: var(--color-accent);
}

/* Autofill fixes */
input:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: var(--color-foreground-dark);
    color: var(--color-foreground-dark);
    border: none !important;
    border: 1px solid var(--color-primary-light) !important;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: var(--color-foreground-dark);
    color: var(--color-foreground-dark);
    border: none !important;
    border: 1px solid var(--color-accent) !important;
}

.input-group select {
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30px' height='30px' viewBox='0 0 24 24' fill='none' stroke='%230a5081' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
}
.input-group select option {
    color: black;
}

/* Labels */
.input-group label.element-label {
    color: var(--color-primary-light);
    font-family: var(--font-roboto-condensed);
    font-weight: 900;
    pointer-events: none;
    transition: all 0.2s ease;
    font-size: var(--size-lg);
}

.input-group label.element-label > span, .input-group label span span{
    color: var(--color-accent);
}

.input-group label span strong {
    color: var(--color-accent);
}

.input-group label span small {
    display: block;
    color: var(--color-foreground-dark);
    font-size: var(--size-sm);
    font-weight: 400;
}

.input-group textarea + label.element-label {
    top: 1.5rem;
}

.input-group input:not([type="radio"]):not([type="checkbox"]):focus,
.input-group textarea:focus,
.input-group select:focus {
    outline: none;
}

.options-row {
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
    font-weight: 700;
    margin: 0;
}
.options-col {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.radio-group label:not(.element-label) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    line-height: 1.4;
    padding: 1cqi 0 0;
}

.checkbox-group .options-col label {
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    line-height: 1.4;
}

.checkbox-group .options-col label a {
    color: var(--color-primary-light);
    text-decoration: underline;
}

.checkbox-group .options-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1cqi 0 0;
}

.checkbox-group.checkbox-list .options-col {
    grid-template-columns: 1fr;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 1ch;
    flex-shrink: 0;
    margin-top: 0.35rem; /* Align with first line of text */
}

.file-group input[type="file"] {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0;
    padding: 1cqi 0 !important;
}

.file-group small {
    font-size: var(--size-sm);
}


#file-type-warning,
#file-size-warning {
    color: #c00;
    display: none;
    font-size: 0.875rem;
    margin-top: -1rem;
}


.button-group {
    margin-top: 3rem;
}


/* Modal Styles */

.form-modal-overlay {
    position: fixed;
    inset: 0;
    background: color-mix(in srgb, var(--color-primary-darker), transparent 20%);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
}

.form-modal-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.form-modal-content {
    max-width: 500px;
    width: 90%;
    border-radius: 15px;
    transform: scale(0.9);
    transition: transform 0.1s ease;
}

.form-modal-overlay.active .form-modal-content {
    transform: scale(1);
}

.form-modal-inner {
    padding: 3rem;
    text-align: center;
    background: var(--color-primary-dark);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: solid 1px var(--color-secondary);


}

.form-modal-inner h2 {
    color: var(--color-foreground-lighter);
    margin-bottom: 1.5rem;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
}

.form-modal-inner p {
    color: var(--color-foreground-lighter);
    margin-bottom: 2rem;
    font-size: var(--size-med);
    line-height: 1.6;
}

/* Request Form Styles */

#request-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary-dark);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999;
    padding: 2cqi;
    transform: translateX(-100%);
    transition: transform .5s cubic-bezier(0.4, 0, 0.2, 1);
}

#request-form-wrapper.active {
    transform: translateX(0);
}

/* Firefox Fallback */
@supports (-moz-appearance: none) {
    #request-form-wrapper {
        scrollbar-width: thin;
        scrollbar-color: var(--color-primary-light) transparent;
    }
}

#request-form-wrapper::-webkit-scrollbar {
    width: 4px;
}

#request-form-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

#request-form-wrapper::-webkit-scrollbar-thumb {
    background: var(--color-primary-light);
    border-radius: 10px;
}

#request-form-wrapper::-webkit-scrollbar-button {
    display: none;
}

#request-form-close {
    position: absolute;
    top: 1cqi;
    right: 1cqi;
    background: none;
    border: none;
    color: var(--color-accent);
    cursor: pointer;
    padding: 0.5rem;
    transition: transform 0.1s ease;
    z-index: 10000;
}

#request-form-close:hover {
    transform: rotate(90deg);
}

#request-form-close svg {
    width: 5cqi;
    max-width: 25px;
    height: 5cqi;
    max-height: 25px;
}

.request-form-logo {
    width: 500px;
    margin: 0 auto 2rem;
}

#request-form-wrapper p {
    color: white;
    margin-bottom: 2rem;
    font-size: var(--size-lg);
    text-align: center;
}

#request-form {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2cqi;
}

#request-form label.element-label {
    color: var(--color-secondary-light);
}

#request-form .button-group {
    margin: 2rem 0;
}

/* Button Styles */

.button {
    position: relative;
    display: inline-block;
    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    padding: 0.5rem 1.25rem;
    font-family: var(--font-roboto-condensed);
    font-size: var(--size-2xl);
    font-weight: 900;
    letter-spacing: -1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    background: var(--color-accent);
    color: white;
    transition: background-color 0.1s ease;
    cursor: pointer;
    border: none;
}

@media (max-width: 769px) {
    .button {
        display: block;
        font-size: clamp(1rem, 6vw, 1.75rem);
        width: 100%;
        margin: 0 auto;
    }
}

.button.alt {
    background: var(--color-primary);
}

.button.wave span, button.wave span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding: 0.5rem 1.25rem;
    animation: wave 4s ease-in-out infinite;
    animation-play-state: paused;
}

.button.wave:hover span, button.wave:hover span,
.button.wave:focus span, button.wave:focus span {
    animation-play-state: running;
}

.button:hover span, button:hover span {
    color: var(--color-secondary-light);
}

@keyframes wave {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


#hero .button {
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: var(--color-primary-light);
    text-shadow: 0 0 3px var(--color-primary-lighter);
}

.buttons {
    display: flex;
    gap: clamp(1rem, 1.38vw, 2rem);
}

.button.next-btn svg {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    margin-bottom: 2px;
}

.button.prev-btn svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 2px;
}

/* Style Effects */

.fire {
    color: transparent;
    background-image: linear-gradient(to bottom,
        var(--color-accent-lighter),
        var(--color-accent));
    background-clip: text;
    filter: drop-shadow(1px 1px 4px red);
}

.electric {
    color: transparent;
    background-image: linear-gradient(to bottom,
        var(--color-secondary-lightest),
        var(--color-secondary-light));
    background-clip: text;
    filter: drop-shadow(0 0 2px var(--color-secondary)) drop-shadow(0 0 1px var(--color-secondary-light));
}


/* Global Animations */
@keyframes pulse {
    0% {transform: scale(1); opacity: 1;}
    50% {transform: scale(1.5); opacity: 0.5;}
    100% {transform: scale(1);opacity: 1;}
}

/* Scripted Effects */

/* Fuzzy Lazy loading Effect for Images, Uses a blurred background image that transitions to the clear image when loaded */
.fuzzy-load { 
    width: fit-content;
    height: fit-content;
    position: relative;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: background-image 250ms ease-in-out;
    /* Blur the background image without affecting child content */
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: inherit;
        background-image: var(--background);
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(12px);
        transform: scale(1.05);
        z-index: 0;
        opacity: 1;
        visibility: visible;
        transition: opacity 350ms ease-in-out, visibility 0s linear 0s;
        will-change: opacity;
    }
    & > * {
        position: relative;
        z-index: 1;
    }
}
.fuzzy-load > * {
    opacity: 0;
    transition: opacity 350ms ease-in-out;
}

.fuzzy-load.loaded::before {
    opacity: 0;
    visibility: hidden;
    transition: opacity 350ms ease-in-out, visibility 0s linear 350ms;
}

.fuzzy-load.loaded > * {
    opacity: 1;
}

/* Password Requirement Indicators */
.req-characters, .req-uppercase, .req-number, .req-special { 
    transition: color 0.1s ease, font-weight 0.1s ease;
}
.req-characters.active, .req-uppercase.active, .req-number.active, .req-special.active {
    color: var(--color-green);
    font-weight: var(--weight-semibold);
}

#content-logo {
    width: auto;
    height: 200px;
}