---
// Assets
import { siteConfig } from "../../siteConfig";
// Components
import MainNav from "../navigation/MainNav.astro";
---

<header>
    <MainNav />
    <h3>Receive <span class="fire">20%Off</span> First Service! <a href="tel:{siteConfig.telephone}">{siteConfig.prettyTelephone}</a></h3>
</header>

<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0 0;
        container-type: inline-size;
        width: 100%;
        position: relative;
        z-index: 9999;
    }

    @media (max-width: 769px) {
        header {
            padding: 50px 0 0;
        }
    }

    header h3 {
        display: flex;
        justify-content: center;
        font-family: var(--font-roboto-condensed);
        font-weight: 500;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 2px 2px 0 var(--color-primary-darker);
        text-align: center;
        font-size: 3.25cqi;
        line-height: 1.5em;
        padding: 1cqi 3cqi;
        margin-bottom:0;
    }


    header h3 span {
        font-weight: 900;
        font-size: 3.3cqi;
        margin: 0 0.5cqi;
        text-shadow: none;
    }

    header h3 a {
        color: var(--color-secondary-light);
        text-decoration: none;
        font-weight: 900;
        margin-left: 1cqi;
        letter-spacing: -0.05em;
    }

    @media (max-width: 769px) {
        header h3 {
            font-size: 6cqi;
            padding: 2cqi 3cqi;
        }
        
        header h3 span {
            font-size: 8cqi;
        }

        header h3 a {
            display: none;
        }
    }
</style>