---
import { siteConfig } from "../../siteConfig";
import Button from "../elements/Button.astro";
---

<div id="request-form-wrapper">
    <label for="request-form-close" id="request-form-close" aria-label="Close Menu">
        <svg viewBox="0 0 95.939 95.939"><use href="#icon-cross" /></svg>
    </label>
    <svg class="request-form-logo" viewBox="0 0 1184.82 543.66"><use href="#quality-pool-and-spa-light-logo" /></svg>
    <p class="active">Use the form below to request a free quote for our services.</p>
    <p class="hidden">Thank you for your request!<br>We will get back to you as soon as possible.</p>
    <form id="request-form" class="active" name="Request Form" data-netlify="true" netlify-honeypot="question-field">
        <input type="hidden" name="form-name" value="Request Form" />
        <input type="hidden" name="subject" value=`{Request Form Submisstion from ${siteConfig.prettyUrl}}` />
        <input type="text" id="question-field" name="question-field" style="display:none" />
        <div class="form-row">
            <div class="input-group">
                <label class="element-label" for="request-first-name">First Name <span>*</span></label>
                <input type="text" id="request-first-name" name="first-name" required placeholder="Your First Name" aria-label="Your First Name" />
            </div>
            <div class="input-group">
                <label class="element-label" for="request-last-name">Last Name <span>*</span></label>
                <input type="text" id="request-last-name" name="last-name" required placeholder="Your Last Name" aria-label="Your Last Name" />
            </div>
        </div>
        <div class="form-row">
            <div class="input-group">
                <label class="element-label" for="request-phone">Phone <span>*</span></label>
                <input type="tel" id="request-phone" name="phone" required placeholder="Your Phone Number" aria-label="Your Phone Number" />
            </div>
            <div class="input-group">
                <label class="element-label" for="request-email">Email <span>*</span></label>
                <input type="email" id="request-email" name="email" required placeholder="Your Email" aria-label="Your Email" />
            </div>
        </div>
        <div class="form-row">
            <div class="input-group radio-group">
                <label class="element-label" for="request-preferred-contact">Preferred Contact Method</label>
                <div class="options-row">
                    <label for="request-preferred-phone"><input type="radio" id="request-preferred-phone" name="preferred-contact" value="Phone" aria-label="Phone" /> Phone</label>
                    <label for="request-preferred-email"><input type="radio" id="request-preferred-email" name="preferred-contact" value="Email" aria-label="Email" /> Email</label>
                </div>
            </div>
            <div class="input-group">
                <label class="element-label" for="request-preferred-time">Preferred Contact Time</label>
                <input type="text" id="request-preferred-time" name="preferred-time" placeholder=" " />
            </div>
        </div>
            <div class="input-group">
                <label class="element-label" for="request-service">Service</label>
                <select id="request-service" name="service" required aria-label="Service">
                    <option value="">Select a Service</option>
                    <optgroup label="Routine Services" class="routine-services-opts">
                        <option value="routine-cleaning">Routine Cleaning</option>
                        <option value="pool-water-balancing">Pool Water Balancing</option>
                        <option value="filter-cleaning">Filter Cleaning</option>
                        <option value="boiler-maintenance">Annual Boiler System Maintenance</option>
                    </optgroup>

                    <optgroup label="Repair Services" class="repair-services-opts">
                        <option value="equipment-diagnosis-repair">Equipment Diagnosis and Repair</option>
                        <option value="leak-detection">Leak Detection</option>
                        <option value="plumbing-repairs">Plumbing Repairs</option>
                        <option value="boiler-system-repair">Boiler System Repair</option>
                        <option value="tankless-water-heater-service">Tankless Water Heater Service</option>
                        <option value="tankless-flush">Tankless Water Heater Flushes</option>
                    </optgroup>

                    <optgroup label="Pool Services" class="pool-services-opts">
                        <option value="routine-cleaning">Routine Cleaning</option>
                        <option value="equipment-diagnosis-repair">Equipment Diagnosis and Repair</option>
                        <option value="pool-heaters">Pool Heaters</option>
                        <option value="single-speed-pumps">Single Speed Pumps</option>
                        <option value="variable-speed-pumps">Variable Speed Pumps</option>
                        <option value="home-buyer-inspections">Pool Inspections for home buyers</option>
                        <option value="cover-repair-replacement">Pool Cover Repair and Replacement</option>
                        <option value="cover-cleaning">Pool Cover Cleaning</option>
                        <option value="cover-vault-cleanout">Pool Cover Vault Cleanout</option>
                        <option value="leak-detection">Leak Detection</option>
                        <option value="plumbing-repairs">Plumbing Repairs</option>
                        <option value="equipment-spec-layout">Equipment Specification and Layout</option>
                        <option value="salt-cells">Salt Water Chlorine Generators “Salt Cells”</option>
                        <option value="salt-cell-cleaning">Salt Cell Cleaning</option>
                        <option value="annual-heater-service">Annual Pool Heater Service and Maintenance</option>
                        <option value="combustion-analysis">Pool Heating Combustion Analysis</option>
                        <option value="automation-programming">Automation Programming and Optimization</option>
                        <option value="chemical-automation">Chemical Automation</option>
                        <option value="cpo-services">Certified Pool Operator Services</option>
                        <option value="commercial-chemicals">Commercial Chemicals</option>
                        <option value="remodeling">Pool Remodeling - plaster, tile, coping</option>
                        <option value="pool-opening">Pool Opening</option>
                        <option value="water-balancing">Pool Water Balancing</option>
                        <option value="plaster-start-ups">Plaster Start Ups</option>
                        <option value="pool-closing">Pool Closing/winterization</option>
                        <option value="fiberglass-restoration">Fiberglass Gel Coat Restoration</option>
                        <option value="filter-cleaning">Filter Cleaning</option>
                        <option value="equipment-consultation">Equipment Consultation</option>
                    </optgroup>

                    <optgroup label="Spa Services" class="spa-services-opts">
                        <option value="spa-electrical-diagnosis">Electrical Diagnosis</option>
                        <option value="spa-leak-diagnosis">Leak Diagnosis</option>
                        <option value="spa-plumbing-repair">Plumbing Repair</option>
                        <option value="spa-pump-diagnosis">Pump diagnosis</option>
                        <option value="spa-pump-repair">Pump repair</option>
                        <option value="spa-pump-replacement">Pump replacement</option>
                        <option value="spa-pack-diagnosis">Spa Pack Diagnosis</option>
                        <option value="spa-pack-repair">Spa Pack Repair</option>
                        <option value="spa-top-side-diagnosis">Top Side Control Diagnosis</option>
                        <option value="spa-top-side-replacement">Top Side Control Replacement</option>
                        <option value="spa-jet-diverter">Jet and Diverter Replacement</option>
                        <option value="spa-winterization">Spa Winterization/Seasonal Closing</option>
                    </optgroup>
                </select>
            </div>
            <div class="input-group">
                <label class="element-label" for="request-street-address">Street Address <span>*</span></label>
                <input type="text" id="request-street-address" name="street-address" required placeholder="Your Street Address" aria-label="Your Street Address" />
            </div>
        <div class="form-row">
            <div class="input-group">
                <label class="element-label" for="request-city">City <span>*</span></label>
                <input type="text" id="request-city" name="city" required placeholder="Your City" aria-label="Your City" />
            </div>
            <div class="input-group">
                <label class="element-label" for="request-zip-code">Zip Code</label>
                <input type="text" id="request-zip-code" name="zip-code" required placeholder="Your Zip Code" aria-label="Your Zip Code" />
            </div>
        </div>
        <div class="input-group textarea-group">
            <label class="element-label" for="request-message">Message</label>
            <textarea id="request-message" name="message" required placeholder="Your Message" aria-label="Your Message"></textarea>
        </div>
        <div class="button-group">
            <Button type="submit" id="request-submit-btn" class="wave">Submit Request</Button>
        </div>
    </form>
</div>

<style>
    .routine-services-opts,
    .repair-services-opts,
    .pool-services-opts,
    .spa-services-opts {
        color: #000;
    }

    .routine-services-opts.hidden,
    .repair-services-opts.hidden,
    .pool-services-opts.hidden,
    .spa-services-opts.hidden {
        display: none;
    }
</style>

<script>
    import { RequestFormHandler } from "../../assets/scripts/RequestFormHandler.js";
    
    document.addEventListener("astro:page-load", () => {
       if (document.getElementById('request-form-wrapper')) {
           new RequestFormHandler();
       }
    });
</script>