---
// Components
import ServicesDropdown from "../elements/ServicesDropdown.astro";
// Links
const links = [
    { name: "Our Services", href: "/services.html", icon: '#icon-skimmer', viewBox: '0 0 800 800' },
    { name: "Request an Opening", href: "/opening.html", icon: '#icon-umbrella', viewBox: '0 0 800 800' },
    { name: "Join Our Team", href: "/jobs.html", icon: '#icon-swimmer', viewBox: '0 0 128 128' },
    { name: "Contact Us", href: "/contact.html", icon: '#icon-whistle', viewBox: '0 0 512 512' },
    // { name: "Client Portal", href: "/client-portal.html", icon: null },
];
---

<nav id="main-nav">
    <a href="/"><svg viewBox="0 0 417 531.01"><use href="#quality-pool-and-spa-dark-icon" /></svg></a>
    <ul>
        {
            links.map((link) => (
                <li class={link.name === "Our Services" && "services-menu"}>
                    <a href={link.href}>{link.name}{link.icon && <svg viewBox={link.viewBox}><use href={link.icon} /></svg>}</a>
                    {link.name === "Our Services" && (
                        <ServicesDropdown />
                    )}
                </li>
            ))
        }
    </ul>
</nav>

<style is:global>

    #main-nav {
        width: 100%;
        height: 70px;
        padding: 0 5px;
        background: linear-gradient(to top, var(--color-secondary), var(--color-secondary-light));
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: left;
        user-select: none;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.1s ease;
    }

    nav#main-nav.at-top {
        box-shadow: none;
    }

    #main-nav > a >svg {
        width: auto;
        height: 70px;
    }

    @media (max-width: 769px) {
        #main-nav, #main-nav > a > svg {
            height: 50px;
        }
    }

    #main-nav > ul {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 20px;
        background-size: contain;
    }

    #main-nav > ul > li {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #main-nav > ul > li.services-menu {
        position: relative;
    }

    #main-nav > ul > li.services-menu #services-dropdown {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    #main-nav > ul > li.services-menu:hover #services-dropdown {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    #main-nav > ul > li > a {
        display: inline-flex;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        height: 80%;
        padding: 0 1cqi;
        font-family: var(--font-roboto-condensed);
        font-weight: 500;
        color: white;
        text-decoration: none;
        font-size: var(--size-lg);
        text-transform: uppercase;
        transition: color 0.3s ease;
        text-shadow: 1px 1px 0 var(--color-secondary-dark);
        box-shadow: 1px 1px 0 var(--color-secondary-lighter), inset 1px 1px 0 var(--color-secondary-dark);
        border-radius: 15px;
        background: linear-gradient(to right, var(--color-secondary), var(--color-secondary-light));
        transition: all 0.3s ease;
        background-color: var(--color-secondary);
    }   #main-nav > ul > li > a > svg {
        display: inline-block;
        width: auto;
        height: 30px;
        filter: drop-shadow(1px 1px 0 var(--color-secondary-dark));
        margin-left: .25rem;

    }   #main-nav > ul > li > a:hover {
        background:none;
        background-color: var(--color-primary-light);
        text-shadow: 0 0 3px var(--color-primary-lighter);
        box-shadow: none;
    }   #main-nav > ul > li:nth-last-child(1) {
        margin-left: auto;
    }

    @media (max-width: 769px) {
        nav#main-nav {
            position: fixed;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
        }
        nav#main-nav > * {display: none !important;}
    }

</style>
