---
import { siteConfig } from "../siteConfig";
import Template from "../layouts/ContentPage.astro";
import Main from '../components/layout/Main.astro';
import PageHeading from '../components/elements/PageHeading.astro';

---

<Template title={`Our Services | ${siteConfig.title}`} description={`Quality Pool and Spa is looking for motivated individuals to join our team. We offer competitive pay and benefits. Apply today!`}>
	<Main id="jobs-page">
		<PageHeading color="dark" background="https://placehold.net/3-800x600.png">Join Our Team</PageHeading>
	</Main>
</Template>